@import url('./reset.css');

body {
  font-family: sans-serif;
}

.header__container {
  padding: 0 100px;
}

.header__navbar {
  display: grid;
  grid-template-columns: 200px 1fr 100px;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__imege{
  width: 200px;
}

.header__logo-text {
  font-size: 20px;
}

.header__profile-logo {
  width: 100px;
}

.header__btn {
  text-decoration: none;
  color: white;
  background: black;
  padding: 10px 15px;
  border-radius: 50px;

  justify-self: end;
}

.header__btns {
  justify-self: end;
  padding: 0 20px;
}

/* Main */

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.main__input {
  display: flex;
  justify-content: center;
}

.main__input > input {
  min-width: 50%;
  padding: 10px 20px;
  border: black 1px solid;
  border-radius: 50px;
}

.task {
  border: 1px solid #414141;
  border-radius: 20px;
  padding: 10px 20px;

  display: flex;
  gap: 20px;

  width: 60%;
}

.main__wrapper {
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}